.department-submenu{
    width: 30rem;
    position: absolute;
    top: 66px;
    list-style: none;
    text-align: justify; 

}

/* .department-submenu a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 10px 16px;
    border-radius: 5px;
} */

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-right: 7px;
  }

.department-submenu li {
    background: rgb(33, 33, 68);
    cursor: pointer;
  }
  

.department-submenu.clicked{
    display: none;
}
 .department-submenu a:hover{
    color:rgb(170, 190, 243);
    transition: 0.3s all ease-out;
    cursor: pointer;
} 